.content {
    text-align: center;
    margin: 20px;
  }
  
  .product {
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(33.333% - 20px); /* Chia đều chiều rộng cho 3 sản phẩm, trừ đi khoảng cách */
    margin: 10px; /* Khoảng cách giữa các sản phẩm */
    display: inline-block; /* Hiển thị các sản phẩm trên cùng một hàng */
    vertical-align: top; /* Đảm bảo các sản phẩm cùng đường baseline */
  }
  
  .product img {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    margin-top: 10px;
  }
  
  .product-title {
    font-size: 24px;
    color: #333;
  }
  
  .product-price {
    font-size: 20px;
    color: green;
  }
  
  .add-to-cart {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .add-to-cart:hover {
    background-color: #005f73;
  }
  